*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body{
    font-family: 'Poppins','sans-serif';
    overflow: hidden;
}
header{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}
.animated-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    overflow: hidden;
    z-index: -1;
}
.animated-area span{
    position: absolute;
    top: 0;
    width: 2px;
    height: 200px;
    background-image: linear-gradient(to bottom,transparent,#fff);
    animation: shower 4s linear infinite;
}
@keyframes shower{
    from{
        transform: translateY(-50);
    }
    to{
        transform: translateY(500%);
    }
    
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header nav .logo{
    max-width: 100px;
}
.btn{
    text-decoration: none;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);


}
header nav .btn-group .btn{
    font-size: 16px;
    margin-left: 30px;
}
.intro-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
}
.intro-content .btn{
    display: inline-block;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 40px;
    border: 1px solid #fff;
}
.logo{
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins','sans-serif';
}
.btn:hover{
    color: rgb(145, 18, 117);
    border-color: rgb(145, 18, 117);
    
}
.btn1{
    text-decoration: none;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    padding: 9px;
}
.btn1:hover{
    color: rgb(145, 18, 117);
    border-color: rgb(145, 18, 117);
    border: 1px solid rgb(145, 18, 117);
}